
[submodule "src/vendor/playground/log"]
	path = src/vendor/playground/log
	url = ssh://code.playground.global:29418/studio/playground/log
[submodule "src/vendor/playground/config"]
	path = src/vendor/playground/config
	url = ssh://code.playground.global:29418/studio/playground/config
[submodule "src/vendor/playground/httputil"]
	path = src/vendor/playground/httputil
	url = ssh://code.playground.global:29418/studio/playground/httputil
[submodule "src/vendor/github.com/fullsailor/pkcs7"]
	path = src/vendor/github.com/fullsailor/pkcs7
	url = https://github.com/fullsailor/pkcs7
[submodule "src/vendor/playground/apksign"]
	path = src/vendor/playground/apksign
	url = ssh://code.playground.global:29418/studio/playground/apksign
